@model RequisitionRaiserDashViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .aaa {
        width: 19.5%;
        margin-right: 5px;
    }

        .aaa button {
            height: 120px !important;
        }

    .btn {
        border-radius: 0 !important
    }

    .a_color {
        background-color: #ddd;
        color: #134684 !important;
    }

    .bbb {
        width: 32%;
    }


    #raiserDashboard ul {
        overflow: hidden !important;
    }

        #raiserDashboard ul li {
            list-style: none;
            padding: 0 !important;
            overflow: hidden;
        }

    .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
    }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: RoyalBlue;
        }
</style>

<div class="container-fluid mt-4" id="raiserDashboard">
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="aaa">
                    <a href="/SCMRequisition/RequisitionNew/Index"
                       style="text-decoration:none; float:right"
                       class="btn bg-primary w-100 pr-0 pl-2">
                        <i class="fa fa-plus" style="font-size:40px; float:left">
                        </i><b style="font-size:30px">@Model.CreateRequisition</b><br /> Create Requisition
                    </a>
                    <a class="p-2 a_color d-block">View Details <span class="oi float-right p-2 text-primary" data-glyph="arrow-circle-right"></span></a>
                </div>

                <div class="aaa">
                    <a class="btn w-100 bg-info pr-0 pl-2 text-light" style="float:right">
                        <span class="fa fa-circle-notch" style="font-size:40px;float:left"></span>
                        <b style="font-size:30px;">@Model.OnGoingRequisition</b><br />
                        On Going Requisition
                    </a>
                    <a class="p-2 a_color d-block">View Details <span class="oi float-right p-2 text-info" data-glyph="arrow-circle-right"></span></a>
                </div>

                <div class="aaa">
                    <a href="/SCMRequisition/RequisitionNew/Index"
                       style="text-decoration:none; float:right"
                       class="btn bg-success w-100 pr-0 pl-2 pr-1 mr-0">
                        <i class="fa fa-location-arrow" style="font-size:40px; float:left"></i>
                        <b style="font-size:30px">@Model.ApprovedRequisition</b><br /> Approved Requisition
                    </a>
                    <a class="p-2 a_color d-block">View Details <span class="oi float-right p-2 text-success" data-glyph="arrow-circle-right"></span></a>
                </div>

                <div class="aaa">
                    <a href="/SCMRequisition/RequisitionNew/Index" style="text-decoration:none; float:right" class="btn bg-danger w-100 pr-1 pl-2">
                        <i class="fa fa-check" style="font-size:40px; float:left"></i><b style="font-size:30px">@Model.ApprovedRequisition</b> <br /> Complite Requisition
                    </a>
                    <a class="p-2 a_color d-block">View Details <span class="oi float-right p-2 text-danger" data-glyph="arrow-circle-right"></span></a>
                </div>

                <div class="aaa">
                    <a href="/SCMRequisition/RequisitionNew/Index" style="text-decoration:none; float:right" class="btn bg-warning w-100 pr-0 pl-2 mr-0"><i class="fa fa-close" style="font-size:40px; float:left"></i><b style="font-size:30px">@Model.RejectRequisition</b><br /> Reject Requisition</a>
                    <a class="p-2 a_color d-block">View Details <span class="oi float-right p-2 text-warning" data-glyph="arrow-circle-right"></span></a>
                </div>


            </div>
        </div>



        <div class="col-xl- 12 col-lg-12 col-md-12 col-12 mt-4">
            <div class="row">
                <div class="" style=" margin-right:14px; width:32%; ">

                    <div class="mb-2 border">
                        <p class="p-2 mb-2 d-block" style="background-color:#eee;">Chart Name</p>
                        <div id="sumon" style="height:220px">

                        </div>
                    </div>
                </div>

                <div class="bbb" style=" margin-right:14px;width:24%;">
                    <div class="mb-4">
                        <p class="p-2  mb-2 d-block" style="background-color:#eee;">Chart Name</p>
                        <canvas id="doughnut-chart"></canvas>
                    </div>
                </div>

                <div class="" style="width:40%;">
                    <div class="mb-4">
                        <p class="p-2  mb-2 d-block" style="background-color:#eee;">Chart Name</p>
                        <div id="mychart" style="height:220px">

                        </div>
                    </div>

                </div>


            </div>

        </div>


        <div class="col-xl- 12 col-lg-12 col-md-12 col-12 mt-4">
            <div class="row">
                <div class="bbb" style=" margin-right:14px;">

                    <div class="mb-4">
                        <p class="pl-2 pt-1 pb-1 badge-danger mb-2 d-block" href="#">Most recent Items</p>
                    </div>

                    <div class="bbb border w-100" style="overflow: scroll; height: 300px">
                        <ul>
                            @foreach (var item in Model.MostRecent)
                            {
                                <li class="pt-3"><img src="../../SKUImages/@item.specImageUrl" width="40" /> <span class="pt-1 pr-2"> @item.specificationName</span> </li>
                            }
                            @*<li class="pt-3"><img src="~/images/994570.png" width="30" /> <span class="pt-1 pr-2"> Tessue Box</span> </li>
                                <li class="pt-3"><img src="~/images/download.png" width="30" /> <span class="pt-1 pr-2"> Pen Drive</span> </li>
                                <li class="pt-3"><img src="~/images/unnamed.png" width="30" /> <span class="pt-1 pr-2"> Lesar Tonar</span> </li>
                                <li class="pt-3"><img src="~/images/tissuebox.png" width="30" /> <span class="pt-1 pr-2"> Tessue Box</span> </li>*@
                        </ul>
                    </div>
                </div>
                <div class="bbb" style=" margin-right:14px;">
                    <div class="mb-4">
                        <p class="pl-2 pt-1 pb-1 badge-info mb-2 d-block" href="#">Top 10 Items</p>
                    </div>

                    <div class="bbb border w-100" style="overflow: scroll; height: 300px">
                        <ul>
                            @foreach (var item in Model.TopTen)
                            {
                                <li class="pt-3"><img src="../../SKUImages/@item.specImageUrl" width="40" /> <span class="pt-1 pr-2"> @item.specificationName (@item.total.ToString("#"))</span> </li>
                            }
                            @*<li class="pt-3"><img src="~/images/mineralWater.png" width="30" /> <span class="pt-1 pr-2"> Mineral Water</span> </li>
                                <li class="pt-3"><img src="~/images/Airfreshner.png" width="30" /> <span class="pt-1 pr-2"> Air Freshner</span> </li>
                                <li class="pt-3"><img src="~/images/994570.png" width="30" /> <span class="pt-1 pr-2"> Tessue Box</span> </li>
                                <li class="pt-3"><img src="~/images/GlueStick.png" width="30" /> <span class="pt-1 pr-2"> Dry Glue Stick</span> </li>*@

                        </ul>
                    </div>
                </div>
                <div class="bbb">
                    <div class="mb-4">
                        <p class="pl-2 pt-1 pb-1 badge-primary mb-2 d-block" href="#">Feature Items</p>
                    </div>

                    <div class="bbb border w-100" style="overflow: scroll; height: 300px">
                        <ul>
                            @foreach (var item in Model.Featured)
                            {
                                <li class="pt-3"><img src="../../SKUImages/@item.specImageUrl" width="40" /> <span class="pt-1 pr-2"> @item.specificationName</span> </li>
                            }

                            @*<li class="pt-3"><img src="~/images/mineralWater.png" width="30" /> <span class="pt-1 pr-2"> Mineral Water</span> </li>
                                <li class="pt-3"><img src="~/images/unnamed.png" width="30" /> <span class="pt-1 pr-2"> Lesar Tonar</span> </li>
                                <li class="pt-3"><img src="~/images/tissuebox.png" width="30" /> <span class="pt-1 pr-2"> Tessue Box</span> </li>*@

                        </ul>
                    </div>
                </div>

            </div>

        </div>


    </div>
</div>

<script src="~/highcharts/highcharts.js"></script>
<script src="~/js/chart.js"></script>
<script>
    window.onload = function () {

        var options = {
            animationEnabled: true,
            title: {
                text: "ACME Corporation Apparel Sales"
            },
            data: [{
                type: "doughnut",
                innerRadius: "40%",
                showInLegend: true,
                legendText: "{label}",
                indexLabel: "{label}: #percent%",
                dataPoints: [
                    { label: "Department Stores", y: 6492917 },
                    { label: "Discount Stores", y: 7380554 },
                    { label: "Stores for Men / Women", y: 1610846 },
                    { label: "Teenage Specialty Stores", y: 950875 },
                    { label: "All other outlets", y: 900000 }
                ]
            }]
        };
        $("#doughnut-chart").CanvasJSChart(options);

    }
</script>